$white: #ffffff;
$black: #000000;
$primary1: #031652;
$primary2: #fc0909;

@mixin main-font {
  font-family: "Poppins", sans-serif;
}

@mixin second-font {
  font-family: "Poppins", sans-serif;
}

// btn style
@mixin hero_btn($col1, $col2, $pad1, $pad2) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  color: $col2;
  transition: all 0.3s;
  border: 1px solid transparent;

  &:hover {
    background-color: transparent;
    border-color: $col1;
    color: $col1;
  }
}

//  end btn style
@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  @include main-font;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: flex;

  h2 {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;

    &::before {
      content: "";
      width: 40px;
      height: 7px;
      background-color: $primary2;
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

/*header section*/
.hero_area {
  height: 100vh;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-color: #1d2943;

  .top_nav {
    background-color: $primary1;
    padding: 10px 0;

    .contact_link-container {
      display: flex;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        color: $white;
        font-size: 15px;
        padding: 0 25px;
        border-right: 1px solid $white;

        img {
          width: 16px;
          margin-right: 3px;
        }
      }
    }
  }
}

.sub_page {
  .hero_area {
    height: auto;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding-bottom: 21px;
  }
}

.hero_area.sub_pages {
  height: auto;
}

.header_section {
  padding: 0;

  .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }

  .nav_container {
    margin: 0 auto;
  }
}

#navbarSupportedContent {
  justify-content: space-between;
  padding: 0 3%;
}

.custom_nav-container.navbar-expand-lg {
  z-index: 99999;
  padding: 0;
  align-items: flex-start;

  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 0;
        padding: 35px 15px 10px 15px;
        color: #2c2b2b;
        text-align: center;
        text-transform: uppercase;
      }

      &:hover,
      &.active {
        .nav-link {
          background-color: $primary1;
          color: $white;
        }
      }
    }
  }

  .form-inline {
    input {
      background-color: $primary1;
      border: none;
      outline: none;
      width: 250px;
      height: 40px;
      border-radius: 5px;
      padding-left: 15px;
      color: #f9f9f8;

      &::placeholder {
        color: rgba($color: #f9f9f8, $alpha: 0.6);
      }
    }

    button {
      margin-left: -50px;
    }
  }
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: right;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.custom_nav-container {}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 40px;
  }

  span {
    font-weight: bold;
    color: #2c2b2b;
    font-size: 20px;
  }
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

/*end header section*/

/* slider section */
.slider_section {
  display: flex;
  flex-direction: column;
  height: calc(100% - 115px);
  justify-content: center;
  background-image: url(../images/slider-bg.jpg);

  .row {
    align-items: center;
  }

  .detail-box {
    width: 100%;
    margin: 0 auto;

    h1 {
      text-transform: uppercase;
      font-size: 4rem;
      color: $primary1;
      line-height: 60px;
      font-weight: 600;

      span {
        color: $primary2;
      }
    }

    p {
      margin-top: 25px;
    }

    .btn-box {
      display: flex;
      margin-top: 30px;

      a {
        width: 180px;
        text-align: center;
        margin: 5px;
      }

      .btn-1 {
        @include hero_btn($primary1, $white, 10px, 35px);
      }

      .btn-2 {
        @include hero_btn($primary2, $white, 10px, 35px);
      }
    }
  }

  .img-box {
    display: flex;

    img {
      width: 100%;
    }
  }

  #carouselExampleIndicators {}

  .idicator_container {
    position: relative;
  }

  ol.carousel-indicators {
    margin: 0;
    bottom: -75px;
    justify-content: flex-end;

    li {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      text-align: center;
      background-color: $primary2;
      opacity: 1;
      border: none;
      margin: 0 4px;

      &.active {
        background-color: $primary1;
      }
    }
  }
}

// end slider section

// about section

.about_section {
  .row {
    align-items: center;
  }

  .heading_container {
    justify-content: center;
    margin-bottom: 40px;

    h2 {
      span {
        color: $primary1;
      }

      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .img_container {
    margin-right: -45px;

    .img-box {
      img {
        width: 100%;
      }
    }

    .btn-box {
      display: flex;
      justify-content: center;
      margin-top: 25px;

      a {
        @include hero_btn($primary2, $white, 10px, 35px);
        text-transform: uppercase;
      }
    }
  }

  .detail-box {
    background-color: $white;
    padding: 25px;
  }
}

// end about section

// service section

.service_section {
  background-color: $primary1;
  margin-bottom: 90px;

  .heading_container {
    color: $white;
  }

  .service_container {
    display: flex;

    .box {
      flex-basis: 32%;
      margin: 1%;
      background-color: $white;
      padding: 15px;
      text-align: center;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

      .img-box {
        img {
          width: 100%;
        }
      }

      .detail-box {
        margin-top: 25px;

        h6 {
          font-size: 18px;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        a {
          @include hero_btn($primary2, $white, 5px, 35px);
          margin-top: 10px;
        }
      }

      &.b1 {
        transform: translateY(20%);
      }

      &.b2 {
        transform: translateY(5%);
      }

      &.b3 {
        transform: translateY(-20%);
      }
    }
  }
}

// end service section

// product section

.product_section {
  .product_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;

    .box {
      width: 265px;
      margin: 10px;

      img {
        width: 100%;
      }
    }
  }

  .btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;

    a {
      @include hero_btn($primary2, $white, 10px, 35px);
      text-transform: uppercase;
    }
  }
}

// end product section

// client section
.client_section {
  background-image: url(../images/client-bg.jpg);
  color: $white;

  text-align: center;

  .heading_container {
    justify-content: center;

    h2 {
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  #carouselExampleControls {
    padding: 0 10%;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px;

    .detail-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 35px;

      h4 {
        font-weight: bold;
        font-size: 18px;
        padding: 0 10px;
        border-bottom: 1px solid $white;
      }

      p {
        margin-top: 20px;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    border: none;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    background-color: $white;
    background-position: center;
    border-radius: 100%;
    transform: translateY(-50%);

    &:hover {
      background-color: $primary2;
    }
  }

  .carousel-control-prev {
    background-image: url(../images/prev.png);
    left: 0;

    &:hover {
      background-image: url(../images/prev-white.png);
    }
  }

  .carousel-control-next {
    left: initial;
    background-image: url(../images/next.png);
    right: 0;

    &:hover {
      background-image: url(../images/next-white.png);
    }
  }
}

// end client section

// metal section

.metal_section {
  background-image: url(../images/metal-bg.jpg);
  background-size: cover;

  .detail-box {
    padding: 75px 0;

    h2 {
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    a {
      @include hero_btn($primary2, $white, 10px, 55px);
      margin-top: 30px;
    }
  }
}

// end metal section

/* contact section */
.contact_section {
  .row {
    align-items: center;
  }

  .contact_form-container {
    margin-top: 45px;

    input {
      border: none;
      outline: none;
      color: $black;
      height: 45px;
      width: 100%;
      margin: 15px 0;
      padding-left: 15px;
      background-color: $white;
      box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.3);

      &::placeholder {
        color: $black;
        text-transform: uppercase;
      }

      &.message_input {
        height: 120px;
      }
    }

    button {
      @include hero_btn(#f73131, $white, 10px, 60px);
      text-transform: uppercase;
      margin-top: 35px;
      font-weight: bold;
    }
  }

  .img-box {
    img {
      width: 100%;
    }
  }
}

/* end contact section */



// info section
.info_section {
  background-color: #010b2c;
  color: $white;
  padding: 90px 0 45px 0;

  h5 {
    margin: 25px 0;
    font-size: 24px;
  }

  .info_logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .navbar-brand {

      img {
        width: 45px;
      }

      span {
        font-size: 24px;
        color: $white;
      }
    }
  }

  .info_links {

    ul {
      padding: 0;

      li {
        list-style-type: none;

        a {
          color: $white;
        }
      }
    }
  }


  .info_form {
    form {
      input {
        outline: none;
        border: none;
        width: 100%;
        padding: 7px 10px;
        border-radius: 30px;
      }

      button {
        padding: 8px 35px;
        outline: none;
        border: none;
        color: $white;
        background: #f73131;
        border-radius: 30px;
        margin-top: 15px;
        text-transform: uppercase;
      }
    }

    .social_box {
      margin-top: 35px;
      width: 100%;
      display: flex;

      a {
        margin-right: 7px;
      }
    }
  }

}

// end info section





/* footer section*/

.footer_section {
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #010b2c;
}

.footer_section p {
  color: rgba($color: #fefeff, $alpha: .7);
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: rgba($color: #fefeff, $alpha: .7);
}

/* end footer section*/